
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: #f8f8f8;
}

.container-fluid {
    max-width: 1200px;
}

.navbar.navbar-default {
    background: white;
}


.profile-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.profile-body .profile-info {
    display: flex;
    flex-direction: row;
}

.profile-body .profile-info .info-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 33%;
}

.profile-body .profile-info .info-left .profile-pic img{
    border-radius: 50%;
}

.profile-body .profile-info .info-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 67%;
}

.profile-body .profile-info .info-right span {
    font-weight: 600;
}

.profile-body .profile-info .info-right .profile-username {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-body .profile-info .info-right .profile-username h3{
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    display: inline-block;
    margin: 10px 0px;
}

.profile-body .profile-info .info-right p{
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}

.profile-body .profile-info .info-right .profile-username button{
    margin-left: 30px;
}


/* Form */
.container-fluid.main-container {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: stretch; 
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container .form-paper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    max-width: 500px;
}

.form-container .form-paper .login-paper{
    background: white;
    width: 100%;
    padding: 40px 30px;
    flex-grow: 1;
}
.form-container .form-paper .login-paper .form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0px 10px;
    margin-bottom: 30px;
}

.form-container .form-paper .login-paper .form-header img{
    text-align: center;
    /* width: 100%; */
    max-width: 250px;

}

.form-container .form-paper .alt-prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    margin-top: 10px;
    padding: 5px;
}


.form-paper.alt-prompt a {
    color: #3897f1;;
}

.btn-primary {
    background: #73a9e5;
    font-weight: 200;
    border: 0;
}