@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: #f8f8f8;
}


/* LensLocked.com styles */
.thumbnail {
    width: 100%;
    margin-bottom: 6px;;
}

.btn-primary {
    background: #73a9e5;
    font-weight: 200;
    border: 0;
}

.btn-delete {
margin-bottom: 6px;
}

footer {
padding-top: 60px;
}

.container-fluid {
    max-width: 1200px;
}

.container-fluid.main-container {
    padding: 0px;
    flex-direction: column;
    margin-bottom: 30px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-container h1{
    margin-top: 5px;
}

.navbar.navbar-default {
    background: white;
}

.nav.navbar-nav .link-menu {
    color: black;
}

.topbar-profile-photo {
    width: 1.5em; 
    height: 1.5em; 
    position: relative;
}

/* Profile page header */
.profile-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.profile-body .profile-info {
    display: flex;
    flex-direction: row;
}

.profile-body .profile-info .info-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 33%;
}

.profile-body .profile-info .info-left .profile-pic{
    max-width: 180px;
    max-height: 180px;
    width: 100%;
    height: 100%;
}

.profile-body .profile-info .info-left .profile-pic img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.profile-body .profile-info .info-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 67%;
}

.profile-body .profile-info .info-right span {
    font-weight: 600;
}

.profile-body .profile-info .info-right .profile-username {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-body .profile-info .info-right .profile-username h3{
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    display: inline-block;
    margin: 10px 0px;
}

.profile-body .profile-info .info-right p{
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}

.profile-body .profile-info .info-right p.no-margin-top{
    margin-top: 0;
}

.profile-body .profile-info .info-right .profile-username button{
    margin-left: 30px;
}

.profile-body .collapse-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-body .collapse-btn h4{
    margin-left: 15px;
}

.profile-body .collapse .btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-body .profile-pictures{
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #eee;
}

.profile-body .profile-pictures .grid-container{
    margin: auto;
    display:grid;
    justify-items: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    column-gap: 20px;
    row-gap: 20px;
  }

  /* .profile-body .profile-pictures .grid-container a::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  } */

  .profile-body .profile-pictures .grid-container a {
      width: 100%;
      height: 100%;
      max-height: 376px;
  }
  
  .profile-body .profile-pictures .grid-container img {
    display: block;
    /* max-width:300px;
    max-height:300px; */
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

/* End profile page header */

/* Form */
/* .container-fluid.main-container {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: stretch; 
} */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container .form-paper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    max-width: 500px;
}

.form-container .form-paper .login-paper{
    background: white;
    width: 100%;
    padding: 40px 30px;
    flex-grow: 1;
}
.form-container .form-paper .login-paper .form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0px 10px;
    margin-bottom: 30px;
}

.form-container .form-paper .login-paper .form-header img{
    text-align: center;
    /* width: 100%; */
    max-width: 250px;

}

.form-container .form-paper .alt-prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    margin-top: 10px;
    padding: 5px;
}

.form-paper.alt-prompt a {
    color: #3897f1;;
}

/* End form */

/* Index page */

.index-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.index-body .index-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.index-body .index-left .stories {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: white;
    padding: 15px 10px 10px;
    overflow: scroll;
}

.index-body .index-left .stories::-webkit-scrollbar
{
    width: 0px;
    height: 6px;
}

.index-body .index-left .stories::-webkit-scrollbar-track
{
	border-radius: 3px;
	background-color: #F4F4F4;
}

.index-body .index-left .stories::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background-color: #DDD;
}

.index-body .index-left .stories .story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    flex-shrink: 0;
}

.index-body .index-left .stories .story .user-image {
    border-radius: 50%;
    padding: 1px;
    background: white;
    border: 3px solid tomato;
    margin-bottom: 5px;
    position: relative;
}

.index-body .index-left .stories .story.disabled .user-image::before {
    content: "";
    position: absolute;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: .6;
    background: white;
}

.index-body .index-left .stories .story img {
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.index-body .index-left .stories .story p {
    margin-bottom: 0px;
    color: black;
    font-size: 12.5px;
    font-weight: 600;
}

.index-body .index-left .stories .story.disabled p:hover {
    cursor: default;
    color: #8E8E8E;
    text-decoration: line-through;
}

.index-body .index-left .photo-posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.index-body .index-left .photo-posts .post {
    display: flex;
    flex-direction: column;
    width: 100%; 
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: white;
    margin-bottom: 60px;
}

.index-body .index-left .photo-posts .post .card-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.index-body .index-left .photo-posts .post .card-header .user-image {
    border-radius: 50%;
    padding: 0.5px;
    background: white;
    border: 3px solid tomato;
    margin-bottom: 5px;
}

.index-body .index-left .photo-posts .post .card-header img {
    max-width: 40px;
    border-radius: 50%;
}

.index-body .index-left .photo-posts .post .card-header p {
    margin: 0px 15px;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.index-body .index-left .photo-posts .post .card-image {
    max-height: 600px;
}

.index-body .index-left .photo-posts .post .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-body .index-left .photo-posts .post .card-buttons {
    padding: 8px;
}

.index-body .index-left .photo-posts .post .card-button {
    background: white;
    border: 0px;
    min-width: 50px;
}

.index-body .index-left .photo-posts .post .card-button .love-fill-icon {
    display: inline-block;
}

.index-body .index-left .photo-posts .post .card-button .love-fill-icon {
    display: none;
}

.index-body .index-left .photo-posts .post .card-captions {
    font-size: 14px;
    color: black;
    padding: 5px 20px;
}

.index-body .index-left .photo-posts .post .card-captions span {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-right: 5px;
}

.index-body .index-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 25px;
}

@media only screen and (max-width: 1024px) {
    .index-body .index-right {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .profile-body .profile-info {
        flex-direction: column;
    }

    .profile-body .profile-info .info-right{
        align-items: center;
    }
    .profile-body .profile-info .info-right h4 {
        padding: 0px 20px;
    }

    .profile-body .profile-info .info-right p {
        padding: 0px 20px;
    }
}


@media only screen and (max-width: 480px) {
    .index-body .index-left .photo-posts .post .card-image {
        max-height: 400px;
    }
}

.index-body .index-right .user-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.index-body .index-right .user-profile img {
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.index-body .index-right .user-profile .user-name {
    margin-left: 16px;
}

.index-body .index-right .user-profile .user-name h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.index-body .index-right .user-profile .user-name p {
    font-size: 15px;
    color: #8E8E8E;
}

.index-body .index-right .user-profile .btn-to-profile {
    flex: 1;
    text-align: end;
}

.index-body .index-right .user-profile a {
    color: #0095f6;
    font-size: 600;
    font-size: 15px;
}


.index-body .index-right .user-suggestion {
    margin-top: 30px;
}

.index-body .index-right .user-suggestion h5{
    font-size: 15px;
    font-weight: 600;
    color: #8E8E8E;
}

.index-body .index-right .user-suggestion p{
    font-size: 14px;
    /* font-weight: 600; */
    color: #8E8E8E;
}

.index-body .index-right .suggestion-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.index-body .index-right .suggestion-profile .user-image::after {
    /* border-radius: 50%;
    padding: 1px;
    background: white;
    border: 3px solid tomato;
    margin-bottom: 5px; */
}

.index-body .index-right .suggestion-profile img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.index-body .index-right .suggestion-profile .user-image::before {
    content: "";
    position: absolute;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: .5;
    background: white;
}

.index-body .index-right .suggestion-profile .user-name {
    margin-left: 16px;
}

.index-body .index-right .suggestion-profile .user-name h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
}

.index-body .index-right .suggestion-profile .user-name p {
    font-size: 13px;
    color: #8E8E8E;
}

.index-body .index-right .suggestion-profile .btn-to-profile {
    flex: 1;
    text-align: end;
}

.index-body .index-right .suggestion-profile .btn-to-profile a {
    color: #0095f6;
    font-size: 600;
    font-size: 13px;
}

.index-body .index-right .suggestion-profile .btn-to-profile a:hover {
    cursor: default;
    color: #8E8E8E;
    text-decoration: line-through;
}

/* End index page */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
}